.mbsc-timeline.mbsc-ltr {
  max-height: calc(100vh - 159px);
}
.mbsc-ios.mbsc-schedule-event-background {
  opacity: 1;
}
.mbsc-calendar-projects .mbsc-timeline.mbsc-ltr {
  max-height: calc(100vh - 222px);
}
.mbsc-eventcalendar {
  height: auto;
}
