.TableCell {
    padding: 6px 10px;

    // @media (max-width: 1440px) {
    //     font-size: 10px;
    //     padding: 4px 6px;
    //     width: 100%;
    // }
    
    // @media (max-width: 1336px) {
    //     font-size: 8px;
    //     padding: 2px 4px;
    //     width: 100%;
    // }
    
    // @media (max-width: 1280px) {
    //     font-size: 6px;
    //     padding: 2px 4px;
    //     width: 100%;
    // }
}

.TableCell {
    padding: 0.425rem 0.175rem; // Convert pixels to rem for responsiveness
    width: 5.86vw; // Assuming the base font size is 16px, 73px is approximately 4.56rem
    height: 48px;
    min-width: 85px;
    // @media (max-width: 90rem) { // 1440px is equivalent to 90rem if base font size is 16px
    //     font-size: 1rem; // Remains the same, as it's already responsive
    //     padding:  0; // Convert pixels to rem for responsiveness
    //     width: 100%; // Already responsive
    // }
}


.InputLabel {
    @media (max-width: 98.75rem) {
        font-size: 0.725rem; // 10px is equivalent to 0.625rem
        padding: 0.25rem 0.375rem; // Convert pixels to rem for responsiveness
    }
    @media (max-width: 90rem) {
        font-size: 0.625rem; // 8px is equivalent to 0.5rem
    }
}

.Typography {
    @media (max-width: 105rem) {
        font-size: 14px; // Same conversion as above
    }
    @media (max-width: 90rem) {
        font-size: 13px;
    }
}

.FormControl {
    @media (max-width: 98.75rem) {
        width: 100%; // Already responsive
    }
}
