.InstallationTable {
	align-self: stretch;
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 14px;
	color: #596570;
	gap: 8px;
}

.TableCell {
	@media (max-width: 1440px) {
		font-size: 10px;
		padding: 4px;
		width: 100%;
	}

	@media (max-width: 1336px) {
		font-size: 8px;
		padding: 2px 4px;
		width: 100%;
	}

	@media (max-width: 1280px) {
		font-size: 6px;
		padding: 2px 4px;
		width: 100%;
	}
}

// .Typography {
//     @media (max-width: 1440px) {
//         font-size: 10px;
//         padding: 2px;
//     }

//     @media (max-width: 1336px) {
//         font-size: 8px;
//         padding: 1px;
//     }

//     @media (max-width: 1280px) {
//         font-size: 6px;
//         padding: 1px;
//     }
// }

// .StyledSelect {
//     border-radius: 4px;
//     background-color: #f8dbdd;

//     .MuiOutlinedInput-notchedOutline {
//         border: none;
//     }

//     .MuiSelect-select {
//         display: flex;
//         align-items: center;
//         padding: 0px 8px;
//         gap: 4px;
//         font-family: Manrope;
//         font-weight: 600;
//         font-size: 14px;
//         color: #da4c57;
//     }

//     @media (max-width: 1440px) {
//         .MuiSelect-select {
//             font-size: 10px;
//             padding: 4px 6px;
//             height: 14px;
//         }
//     }

//     @media (max-width: 1336px) {
//         .MuiSelect-select {
//             font-size: 8px;
//             padding: 2px 4px;
//             height: 10px;
//         }
//     }

//     @media (max-width: 1280px) {
//         .MuiSelect-select {
//             font-size: 6px;
//             padding: 2px 4px;
//             height: 8px;
//         }
//     }
// }
