.mbsc-timeline.mbsc-ltr {
  max-height: calc(100vh - 90px);
}
.mbsc-ios.mbsc-schedule-event-background {
  opacity: 1;
}

.mbsc-eventcalendar {
  height: auto;
}

.first-day { 

  height: 29px;
  width: max-content;
  background: white;
  z-index: 9999;
  position: absolute;
  top: 0px;
  font-weight: 600;
  border: 0;
  margin: 0 20;
  font-size: 1rem;
  left: 160px;
}

.main-day{
  border: 1px solid #ccc;
  border-right: 0;
  padding-left: 2px;
}

.mbsc-timeline-header-date.mbsc-ltr{
  border:0
}