*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Style for the scheduler container */
.b-grid-header {
    /* background-color: #f5f5f5; */
    font-weight: bold;
    font-size: 14px;
    /* color: #333; */
}

header {
    padding: 0px;
}

.b-sch-event {
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    /* color: #fff; */
    padding: 5px;
}

/* Highlight weekends */
.b-sch-timerange {
    background-color: rgba(212, 11, 11, 0.1); /* Light red for weekends */
}



/* Style for the timeline header */
.b-sch-header-timeaxis-cell {
    /* background-color: #d16262; */
    font-size: 13px;
    font-weight: bold;
    /* color: #333; */
}

.b-sch-event-wrap {
    background-color: #dddddd90;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
  align-items: flex-start;
}
.b-nested-events-container {
    position: relative;
    align-self: flex-start;
    flex: 1 1;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}
.b-sch-event-wrap.b-nested-events-parent.b-sch-style-plain .b-nested-events-container, .b-sch-event-wrap.b-nested-events-parent.b-sch-style-colored .b-nested-events-container, .b-sch-event-wrap.b-nested-events-parent.b-sch-style-rounded .b-nested-events-container {

    background-color: transparent !important;

}


.parent-task-footer {
    background: linear-gradient(to right, #d1fae5, #ecfdf5) !important;
    color: #065f46 !important;
    
    
    /* background: linear-gradient(to right, #e0e0e0, #f5f5f5) !important; */
    border: 1px solid #ccc !important;
    border-top: 1px solid #999 !important;
    padding: 4px 8px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    /* color: #333 !important; */
    text-align: center !important;
    border-radius: 0 0 6px 6px !important;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important; */
    pointer-events: none !important;
    position: absolute !important;
    z-index: 10 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    opacity: 1 !important;
    transition: none !important; /* Prevent transition fade-in */
  }
  
  .parent-task-footer:hover {
    opacity: 1 !important;
  }
  .b-sch-event-content{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    flex-wrap: wrap;
  }
 
  

  .light-red-time-range {
    background-color:#f7f7f7 !important;
    border-top: 1px solid #f5f6f7 !;
    border-bottom: 1px solid  #f5f6f7 !important;
    border: 0.5px solid rgb(224, 223, 223);
  }

 /* Saturday (day 6) */
.b-sch-dayheadercell-6 {
  color: red !important;
  font-weight: bold;
}

/* Sunday (day 0) */
.b-sch-dayheadercell-0 {
  color: red !important;
  font-weight: bold;
}

