@import '../../scss/variables';

.tableRow{
     .imgContainer{
        width: 2.5em;
        min-width: 2.5em;
        height: auto;
        img{
            border-radius: 100px;
        }
    }
    
    .rightIcon{
        background: $bgDarkLight;
        border-radius: 30px;
        color: $white;
        padding: 3px;
        min-width: 23px;
        width: 23px;
        min-height: 23px;
        height: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rightIconText{
        background: $redOrange;
        border-radius: 10px;
        color: $white;
        padding: 2px 5px;
        font-size: 10px;
    }

    .toggleIcon{
        svg{
            width: 0.8em;
            height: "auto";
        }
    }

    .depth-1{
        padding-left: 15px;
        font-weight: 600;
    }
    .depth-2{
        padding-left: 30px;
    }
}

.seperation{
    border: 1.2px solid $greyBorder;
}