.mbsc-calendar-projects {
  .mbsc-timeline.mbsc-ltr {
    max-height: calc(100vh - 160px);
  }
  .mbsc-timeline-events {
    top: 5px;
  }
}
.mbsc-calendar-projects .mbsc-timeline-resource,
.mbsc-calendar-projects .mbsc-timeline-row {
  min-height: 400px;
}
