.mbsc-calendar-projects {
  .mbsc-timeline.mbsc-ltr {
    max-height: calc(100vh - 160px);
  }
  .mbsc-timeline-events {
    top: 5px;
  }
  .cal-header-prev.mbsc-ios.mbsc-calendar-button.mbsc-button,
  .cal-header-next.mbsc-ios.mbsc-calendar-button.mbsc-button,
  .cal-header-nav .mbsc-ios.mbsc-calendar-button.mbsc-button {
    color: #000;
    font-size: small;
  }
}
