$headerGrey: #F9F9FA;
$Violet: #8D99FF;
$white: #FFFFFF;
$redOrange: #FF6B00;
$bgLight: #F9F9FA;
$bgDarkLight: #919EAB;
$greyBorder: rgba(241, 243, 244, 1);

//TEXT
$textMedium: #596570;
$textDark: #212B36;
